
/* css about the header and toggle column */

.header-toggle {
    background-image: url(img/bkgd.png);
    width:100%;  
}

.container {
   width: 100%
}

.btn-group {
   float: left;
} 

h1 {
   color: black; font-family: 'Helvetica Neue', sans-serif; font-size: 110px; 
   font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;    
}

header {
    background-color: rgb(209, 206, 206);
}

h2 {
  color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 30px; 
  font-weight:lighter; letter-spacing: -1px; line-height: 1; text-align: center;
  padding-bottom: 10px;     
  opacity: 0.5;
}

.row-date{
text-align: center;
}
/* the new to do */

.new-todo-container {
    width: 100%;
    margin: 1px;
    padding: 1px;
    overflow-x: hidden; 
    margin: 1px;
    }
    
#high {
    background-color: coral;
    color: black;
}

#medium {
  background-color: rgba(192, 250, 158, 0.911);
  color: black;
}

#low {
  background-color: rgba(247, 191, 217, 0.911);
  color:black;
}

form {
  margin: 5px;
}

/* trying to add some @medias in here */
@media only screen and (min-width: 50px) {
 
  h1 {
    font-size: 40px;
    }  

h2 {
  font-size: 20px;
  }  
}

@media only screen and (min-width: 250px) {
 
  h1 {
    font-size: 55px;
    }  
 
}

@media only screen and (min-width: 325px) {
 
  h1 {
    font-size: 70px;
    }  
}

@media only screen and (min-width: 570px) {
 
    h1 {
      font-size: 80px;
      }  
      h2 {
        font-size: 30px;
       } 
}

@media only screen and (min-width: 670px) {
 
  h1 {
    font-size: 100px;
    }  
    h2 {
      font-size: 30px;
     } 
}

@media only screen and (min-width: 992px) {
 
  h1 {
    font-size: 60px;
    }  
   
}

@media only screen and (min-width: 1065px) {
    h1 {
      font-size: 60px;
      }  

}

@media only screen and (min-width: 1355px) {
    h1 {
      font-size: 90px;
      }
}

@media only screen and (min-width: 1650px) {
    h1 {
      font-size: 110px;
      }
}




