body {
    background-color: whitesmoke;
    text-align: left;
    border-radius: 5px;
}

.done_text {
    color: black;
    border-radius: 5px;
    background-color: thistle;
}

.done-items {
    background-color: rgb(202, 193, 193);
}