.new-todo-container {
    width: 100%;
    margin: 1px;
    padding: 1px;
    overflow-x: hidden; 
    }
    

.col-md-2 {
    object-position: right;
}

#high {
    background-color: coral;
    color: black;
}

#medium {
  background-color: rgba(192, 250, 158, 0.911);
  color: black;
}

#low {
  background-color: rgba(247, 191, 217, 0.911);
  color:black;
}