body {
    background-color: whitesmoke;
    text-align: left;
}

.task-item_text {
    color: black;
    border-radius: 5px;
}

.task-item {
    width: 100%;
    
}

.form-control {
    margin: 4px;
}


